{% extends 'blog/cv_base.html' %}
{% load static %}

{% block content %}
<div id="cv">
    <div class="mainDetails">
        <div id="headshot">
            <img src="{% static 'pictures/headshot1.jpg' %}" alt="Samuel Ojogbede" />
        </div>
        
        <div id="name">
            <h2 class=gig>Samuel Ojogbede</h2>
            <br>
        </div>
    </div>
    
    <div id="mainArea">
        <section>
            <article>
                <div class="sectionTitle">
                    <h2>Personal Profile</h2>
                </div>
                
                <div class="sectionContent">
                    <p>I am a simple and flexible person. I am a good communicator and I can work in a team whilst also being capable of using my own initiative. I am skilled in dealing with problems in a resourceful manner and negotiating to achieve beneficial agreement. I am always enthusiastic to learn and undertake new challenges. Furthermore, I am fluent in three languages: Italian, English and Yoruba.</p>
                </div>
                <br>
            </article>
        </section>
                                    
        <section>
            <div class="sectionTitle">
                <h2>Work Experience</h2>
            </div>
            
            <div class="sectionContent">
                {% for work in works %}
                    <article>
                        <h4>{{ work.job_title }}</h4>
                        <p class="subDetails">{{ work.time_frame }}</p>
                        <p>{{ work.text }}</p>
                        <br>
                    </article>
                {% endfor %}
                <a class="updt" href="/cv/edit/work/"><button class="save btn btn-default">Update</button></a>
                <br>
                <br>
            </div>
        </section>
        
        <section>
            <div class="sectionTitle">
                <h2>Key Skills</h2>
            </div>
            
            <div class="sectionContent">
                <ul class="keySkills" id="id_skill_list">
                    {% for skill in skills %}
                        <li>{{ skill.text }}</li>
                    {% endfor %}
                </ul>
                <form method="POST">
                    <input name="skill_text" id="id_new_skill" placeholder="Enter new skill" />
                    {% csrf_token %}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
            </div>
            <br>
        </section>
                                    
        <section>
            <div class="sectionTitle">
                <h2>Education</h2>
            </div>
            
            <div class="sectionContent">
                {% for educ in educs %}
                    <article>
                        <h4>{{ educ.school }}</h4>
                        <p class="subDetails">{{ educ.qualification }}</p>
                        <p>{{ educ.text }}</p>
                        <br>
                    </article>
                {% endfor %}
                <a class="updt" href="/cv/edit/education/"><button class="save btn btn-default">Update</button></a>
                <br>
                <br>
            </div>
            <br>
        </section>
    </div>
</div>
{% endblock %}