{% load static %}
<html>
    <head>
        <title>CV page</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body style="background-color: #e4e4e4;">
        <div class="page-header">
            <h1><a href="/">My CV</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8" id=top2>
                    <div id="cv">
                        <div class="mainDetails">
                            <div id="headshot">
                                <img src="{% static 'pictures/headshot.jpg' %}" alt="Samuel Ojogbede" />
                            </div>
                            
                            <div id="name">
                                <h2>Samuel Ojogbede</h2>
                                <h4>Job Title</h4>
                            </div>
                            
                            <div id="contactDetails">
                                <ul>
                                    <li>e: <a href="mailto:sojogbede1@gmail.com" target="_blank">sojogbede1@gmail.com</a></li>
                                    <li>m: 07444874530</li>
                                </ul>
                            </div>
                            <br>
                            <div class="clear"></div>
                        </div>
                        
                        <div id="mainArea">
                            <section>
                                <article>
                                    <div class="sectionTitle">
                                        <h2>Personal Profile</h2>
                                    </div>
                                    
                                    <div class="sectionContent">
                                        <p>I am a simple and flexible person. I am a good communicator and I can work in a team whilst also being capable of using my own initiative. I am skilled in dealing with problems in a resourceful manner and negotiating to achieve beneficial agreement. I am always enthusiastic to learn and undertake new challenges. Furthermore, I am fluent in three languages: Italian, English and Yoruba.</p>
                                    </div>
                                    <br>
                                </article>
                                <div class="clear"></div>
                            </section>
                                                        
                            <section>
                                <div class="sectionTitle">
                                    <h2>Work Experience</h2>
                                </div>
                                
                                <div class="sectionContent">
                                    <article>
                                        <h4>Waiter/Bar Back at Catapult</h4>
                                        <p class="subDetails">September - December 2019</p>
                                        <p>...</p>
                                    </article>
                                    
                                    <article>
                                        <h4>Waiter/Cashier/Bar Back at Fabulous Fan Fayre</h4>
                                        <p class="subDetails">September 2017 – August 2018</p>
                                        <p>Here I was able to refine my skills as a waiter and also learn how to be a cashier. I have acquired skills to use to build a strong relationship with customers and become a professional. Being part of a catering team also helped me to improve my teamwork and communication skills.</p>
                                    </article>
                                    
                                    <article>
                                        <h4>Waiter at Verve People</h4>
                                        <p class="subDetails">November 2016 – August 2017</p>
                                        <p>I have gained many skills from this job such as being patient with customers and interacting well with them. It gave me good experience with dealing with costumers and delivering the right service.</p>
                                    </article>
                                    <br>
                                </div>
                                <div class="clear"></div>
                            </section>
                            
                            <section>
                                <div class="sectionTitle">
                                    <h2>Key Skills</h2>
                                </div>
                                
                                <div class="sectionContent">
                                    <ul class="keySkills">
                                        <li>Basic coding skills on VB</li>
                                        <li>Good IT skills - I can use all features of Microsoft Office. I am very handy when using a computer as I have studied using one for the past 5 years. I also know how to use all aspects of a printer such as printing, photocopying, scanning and faxing documents</li>
                                        <li>Excellent numeracy and literacy skills</li>
                                        <li>Efficient logical thinking</li>
                                        <li>Time management</li>
                                        <li>Personal organization & effectiveness</li>
                                    </ul>

                                    <form method="POST">
                                        <input name="skill_text" id="id_new_skill" placeholder="Enter new skill" />
                                        {% csrf_token %}
                                    </form>

                                    ​<table id="id_skill_table">
                                        {% for skill in skills %}
                                            <tr><td>-{{ skill.text }}</td></tr>
                                        {% endfor %}
                                    ​</table>
                                </div>
                                <br>
                                <div class="clear"></div>
                            </section>
                                                        
                            <section>
                                <div class="sectionTitle">
                                    <h2>Education</h2>
                                </div>
                                
                                <div class="sectionContent">
                                    <article>
                                        <h4>University of Birmingham</h4>
                                        <p class="subDetails">MEng</p>
                                        <p>Studying Computer Science (Software Engineering).</p>
                                    </article>
                                    
                                    <article>
                                        <h4>Loreto Sixth Form College</h4>
                                        <p class="subDetails">A-level</p>
                                        <p>Studied A-level Maths, Further Maths and Physics. (A*AB).</p>
                                    </article>
                                    <br>
                                    <br>
                                </div>
                                <br>
                                <div class="clear"></div>
                            </section>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </body>
</html>