.page-header {
    background-color: #000000;
    margin-top: 0;
    padding: 12px 10px 10px 40px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: transparent;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
    margin-top: 5px;
}

.content {
    margin-left: 40px;
    margin-right: 40px;    
    margin-top: 130px;
}

h2 {
    font-family: 'Lobster', cursive;
}

h1 {
    font-family: 'Amatic SC', cursive;
}

.date {
    color: #828282;
    float: right;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 15pt;
    margin-right: 25px;
}

.top-menu:hover {
    color: #aaaaaa;
}

.search-menu {
    font-size: 13pt;
    float: right;
    margin-top: 13px;
    margin-right: 35px;
}

.post {
    margin-bottom: 70px;
    padding: 10px;
    border: solid #d2d2d2;
    position: relative;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.post-detail {
    margin-bottom: 70px;
    padding: 10px;
    position: relative; 
}

.post-detail img{
    max-width: 100%;  
    margin-top: 10; 
}

.post-detail h2{
    text-align : left;
    margin: 20px auto;
    font-size: 2.2em;
}

.post-form input, .post-form textarea{
    display: block;
    margin: 10px 0 0 0;
    padding: 3px;
}

.save.btn.btn-default {
    margin-bottom: 65pt;
}